.landing{
    text-align: center;
    background-image: url(https://media0.giphy.com/media/26n6G8lRMOrYC6rFS/giphy.gif?cid=790b761…&rid=giphy.gif&ct=g);
    padding: 10px 17px 10px 17px;
}

.title{
    color: #fff;
}

.landing  img{
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

/* button:hover {
    color:#002;
    background: rgba(255, 255, 255, 0.445);
    box-shadow: 0 4px 40px rgba(255, 255, 255, 0.561);
    backdrop-filter: blur(10px);
    font-style: oblique;
} */